<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class='registr-form'>
    <div class='registr-form-child'>

        <form action="/login" method="post">
          <p>
            <label>Email   
              <input type="text" name="email" value="test@mail.ru" />
            </label>
          </p>
          <p>
            <label>Password
              <input type="password" name="password" value="test" />
            </label>
          </p>
          <p>
            <button type="submit">Log In</button>
          </p>
        </form>

    </div>
     
  </div>
  
</body>
</html>
